dist/
node_modules/
tests/screenshots/*
.env
.next/
.idea/
.DS_Store
.rts2_cache_cjs/
.rts2_cache_esm/
.rts2_cache_umd/
yarn-error.log
.github/workflows/event.json
.npmrc
coverage/
*.zip
*.xpi

www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.vscode/
.sass-cache/
.versions/

$RECYCLE.BIN/

Thumbs.db
UserInterfaceState.xcuserstate

yalc.lock
.yalc
.yarn
.yarnrc

packages/connect-ui/connect

web-ext-artifacts

docs/
