:host {
  all: initial;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  z-index: 8999;
}

.modal-body {
  width: 486px;
  max-width: 100%;
  max-height: calc(100% - 48px);
  background: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;

  div {
    box-sizing: border-box;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.header-left {
  display: flex;
  align-items: center;

  span {
    padding-left: 8px;
  }
}

.header-right {
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-illustration {
  position: relative;
  padding-top: 12px;
}

.app-logo {
  position: absolute;
  bottom: 3px;
  right: 0;

  img {
    width: 64px;
  }
}

.modal-title {
  color: #242629;
  font-family: 'Open Sauce One', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  padding: 24px 64px 10px 64px;
  display: block;
  text-align: center;
}

.modal-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #74777d;
  text-align: center;
  padding: 10px 32px 24px 32px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 24px 24px 24px;
}

.button {
  width: 100%;
  max-width: 209px;
  margin: 0px auto;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #5546ff;
  color: #ffffff;
  min-height: 48px;
  min-width: 126px;
  padding: 14px 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal-footer {
  width: 100%;
  margin-top: 10px;
  padding: 24px 0;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 12px 12px;
  border-top: 1px solid #efeff2;

  .link {
    color: #74777d;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }
}
