@import 'browser-not-supported';
@import 'hiro-wallet-download';

@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}

:host {
  all: initial;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  z-index: 8999;
  overflow-y: scroll;
}

.modal-body {
  width: 486px;
  max-width: 100%;
  max-height: calc(100% - 48px);
  background: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  padding: 20px 24px 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @include mobile {
    max-height: 100%;
  }
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  max-width: 139px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #5546ff;
  color: #ffffff;
  min-height: 48px;
  min-width: 126px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
}

.link {
  color: #5546ff;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  margin-top: 4px;
}

.modal-subheading {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #000000;
}

.modal-wallet-card {
  display: flex;
  align-items: flex-start;
  background: white;
  border: 2px solid #f4f4f6;
  border-radius: 16px;
  margin-top: 12px;
  padding: 24px 10px 24px 20px;
}

.wallet-container {
  display: flex;
  flex-direction: column;

  @include mobile {
    flex-direction: column-reverse;
  }
}

.modal-wallet-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
  color: #74777d;

  a {
    color: #5546ff;
    text-decoration: none;
  }

  @include mobile {
    font-size: 13px;
  }
}

.modal-wallet-card-content {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
}
